@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  scroll-behavior: smooth;
  transition: all .5s ease;
}

/* Lazy load animation*/
.LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.is-visible {
  opacity: 1;
}
