@tailwind base;
@tailwind components;
@tailwind utilities;


/* Example of how to fade our content in */

.LazyLoad {
    opacity: 0;
    transition: all 1s ease-in-out;
  }
  
  .is-visible {
    opacity: 1;
  }